---
name: Automation

on:
  schedule:
    # Every Friday at 7 AM JST
    - cron: "0 22 * * 4"
  workflow_dispatch:
    inputs:
      regex:
        description: "Repo names regex:"
        required: true
        default: "^(.*)$"
        type: string

defaults:
  run:
    shell: sh

env:
  REGEX_DEFAULT: "^(.*)$"
  GH_TOKEN: "${{ secrets.GH_TOKEN }}"

jobs:
  run-automation:
    name: Run automation
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
        with:
          token: "${{ secrets.GH_TOKEN }}"

      - name: Install mtoohey31/gh-foreach
        run: gh extension install mtoohey31/gh-foreach

      - name: Run pre-automation scripts
        run: ./pre.sh
        working-directory: src/automation/global

      - name: Run automation scripts
        uses: pyTooling/Actions/with-post-step@v6.7.0
        env:
          INPUT_REGEX: "${{ github.event.inputs.regex || env.REGEX_DEFAULT }}"
        with:
          main: ${GITHUB_WORKSPACE}/src/automation/global/main.sh "${INPUT_REGEX}"
          post: ${GITHUB_WORKSPACE}/src/automation/global/post.sh
